<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <!-- Name  of the Form -->
            <div class="form-group">
                <label for="name">Name of the Author</label>
                <input type="text"  class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
                
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p> Name is Required</p>
                    
                </div>
            </div>
            <!-- Description for Input -->
            <div class="form-group">
                <label for="imagequote">Description</label>
                <textarea class="form-control" id="imagequote" rows="4" [(ngModel)]="newQuote.image" name="image" #description="ngModel" required></textarea>
                <div [hidden]="imagequote.valid || imagequote.pristine" class="alert alert-danger">
                    <p> Description is Required</p>
                    
                </div>
                
            </div>
            <!-- Input for Date -->
            <div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required >
                <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                    <p> Complete Date is Required</p>
                    
                </div>
            </div>
            <button type="Submit" class="btn btn-danger">Add Quote</button>
        </form>
    </div>
</div>